%hr
%footer
  .row
    .col-md-6
      .container.text-muted
        %p.text-left &copy; fluxco.de 2013. All rights reserved.
    .col-md-6
      .container.text-right.text-muted
        Contact the
        %a{mailto: "hall-monitor@fluxco.de"}Hall Monitor
        if you need assistance.